<div class="tabular">
  <div class="left">
    <div *ngIf="items && items.length > 0"class="scrollbox">
      <ul>
        <li class="scrollboxline" *ngIf="items.length > 1" (click)="resetFilter()">
          Display All
        </li>
        <li class="scrollboxline" *ngFor="let itm of items">
          <a (click)="filterSelection(itm)">{{itm}}</a>
        </li>
      </ul>
    </div>

    <div class="btns">
      <br />
      <button class="btn btn-primary" id="addform" (click)="passData(cat, subcat); passCat=cat; passSubcat=subcat;" [routerLink]="['../additemform']"> Add Form </button>
      <br>
      <a class="btn btn-primary" [routerLink]="['/pm', { cat: cat, subcat: subcat }]"> PM </a>
      <br>
      <!-- <a class="btn btn-primary" routerLink="/"> Manual </a> -->
    </div>
  </div>

  <div class="table">
    <table mat-table [dataSource]="dataSource" matSort class="table table-striped">
      <ng-container matColumnDef="form_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> FormID </th>
        <td mat-cell *matCellDef="let row"><a [routerLink]="['/editform', { category: row.category, subcat: row.subcat, id: row.form_id }]"> {{row.form_id}} </a></td>
      </ng-container>

      <!-- Redundant?
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
        <td mat-cell *matCellDef="let row" #row.category> {{row.category}} </td>
      </ng-container>

      <ng-container matColumnDef="subcat">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Subcategory </th>
        <td mat-cell *matCellDef="let row"> {{row.subcat}} </td>
      </ng-container>
      -->

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>

      <ng-container matColumnDef="item">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Item </th>
        <td mat-cell *matCellDef="let row"> {{row.item}} </td>
      </ng-container>

      <ng-container matColumnDef="purpose">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Purpose </th>
        <td mat-cell *matCellDef="let row"> {{row.purpose}} </td>
      </ng-container>

      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cost </th>
        <td mat-cell *matCellDef="let row"> ${{row.cost}} </td>
      </ng-container>

      <ng-container matColumnDef="serial">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Serial </th>
        <td mat-cell *matCellDef="let row"> {{row.serial}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let row"> {{row.date}} </td>
      </ng-container>

      <ng-container matColumnDef="maint_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> PM </th>
        <td mat-cell *matCellDef="let row"> {{row.maint_date}} </td>
      </ng-container>

      <!-- Currently borked
      <ng-container matColumnDef="repeat">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Repeating </th>
        <td mat-cell *matCellDef="let row"> {{row.repeat}} </td>
      </ng-container>
          -->

      <ng-container matColumnDef="attachment">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Attachments </th>
        <td mat-cell *matCellDef="let row"> {{row.attach.length}} </td>
      </ng-container>

      <ng-container matColumnDef="notes">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Notes </th>
        <td mat-cell *matCellDef="let row"> {{row.notes}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="table_columns"></tr>
      <tr mat-row *matRowDef="let row; columns: table_columns;"></tr>

    </table>

    <mat-paginator [length]="num_results" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
</div>
