ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a{
  display: block;
}

li:hover{
  background-color: white;
}

.table {
  float: left;
  clear: right;
  width: 50%;
  margin-left: 15px;
}

.left{
  float: left;
}

.tabular{
  margin: 25px;
  width:95%;
  display:inline;
}

.content:hover{
  background-color: dodgerblue;
}

.scrollbox{
  background-color: #eee;
  width: 200px;
  height: 400px;
  border: 1px solid black;
  overflow-y: auto;
}

.scrollboxline {
  cursor:pointer;
}



.btns a, .btns button {
  width: 100px;
  font-size: 15px;
  text-decoration: none;
  curser: pointer;
  margin-top: 10px;
  padding: 20px 0;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  clear: left;
  float:left;
}

.mat-table{
}

.mat-cell, .mat-header-cell {
  overflow: hidden;
  border: 1px solid black;
  text-align: center;
}

.mat-cell{
  padding: 5px;
}

.mat-header-cell{
  padding-top: 0;
  padding-bottom: 5px;
  padding-left: 5px;
}

.mat-column-purpose{
  min-width: 150px;
}

.mat-column-notes{
  min-width: 150px;
}

.mat-paginator{
  float:left;
}
