<div *ngIf="delete" class="alert alert-danger">
    <h3>Are you sure you want to delete the subcategory: {{ this.selectedName }} </h3>
    <div class="alert">
      <p>
        This is highly destructive and any associated forms and attachments will be lost.
      </p>
      <button class="btn btn-secondary" (click)="disableDelete()">Cancel</button>
      <button class="btn btn-danger" (click)="deleteSubcategory()">Delete Subcategory</button>
    </div>
</div>

<div *ngIf="removed" class="alert alert-primary">
  <h3> {{ this.selectedName }} deleted.</h3>
  <button class="btn btn-primary" (click)="disableDelete()">Ok</button>
</div>

<div class="results"*ngIf="this.equipment && this.equipment.length > 0">
  <h4>Equipment</h4>
  <table class="table table-striped table-hover">
    <tr *ngFor="let item of equipment">
      <td class="col">
          {{ item }}
      </td>
      <td class="col-sm">
           <button class="btn btn-danger" (click)="confirm('equipment', item)"> Delete </button>
      </td>      
    </tr>
  </table>
</div>

<div class="results" *ngIf="this.tools && this.tools.length > 0">
    <h4>Tools</h4>
    <table class="table table-striped table-hover">
      <tr *ngFor="let item of tools">
        <td class="col">
            {{ item }}
        </td>
        <td class="col-sm">
             <button class="btn btn-danger" (click)="confirm('tools', item)"> Delete </button>
        </td>      
      </tr>
    </table>
  </div>


  <div class="results" *ngIf="this.landscape && this.landscape.length > 0">
      <h4>Landscape</h4>
      <table class="table table-striped table-hover">
        <tr *ngFor="let item of landscape">
          <td class="col">
              {{ item }}
          </td>
          <td class="col-sm">
               <button class="btn btn-danger" (click)="confirm('landscape', item)"> Delete </button>
          </td>      
        </tr>
      </table>
    </div>


