<!--The content below is only a placeholder and can be replaced.-->

<nav [@changeTrigger]="currentState" class="content">
  <ul>
  	<li> <a routerLink="/mainpage">Main Page</a> </li>
  	<li> <a routerLink="/backup">Backup</a> </li>
<!--
  	<li> <a routerLink="/additemform">Add form</a> </li>
        <li> <input type="file" id="files" multiple accept="pdf"></li>
-->

  	<li> <a routerLink="/calendar">Calendar</a> </li>
  	<li> <a routerLink="/equipment">Equipment</a> </li>
  	<li> <a routerLink="/tools">Tools</a> </li>
		<li> <a routerLink="/landscape">Landscape</a> </li>
		<li> <a routerLink="/delete">Delete Subcategory</a></li>
  </ul>
</nav>
