<table>
  <tr>
    <th> FormID </th>
    <td> {{iService.getID()}} </td>
  </tr>
  <tr>
    <th> Category </th>
    <td> {{iService.getCat()}} </td>
  </tr>
  <tr>
    <th> Subcategory </th>
    <td> {{iService.getSubcat()}} </td>
  </tr>
  <tr>
    <th> Name </th>
    <td> {{iService.getName()}} </td>
  </tr>
  <tr>
    <th> Purpose </th>
    <td> {{iService.getPurpose()}} </td>
  </tr>
  <tr>
    <th> Cost </th>
    <td> ${{iService.getCost()}} </td>
  </tr>
  <tr>
    <th> Serial </th>
    <td> {{iService.getSerial()}} </td>
  </tr>
  <tr>
    <th> Date </th>
    <td> {{iService.getDate()}} </td>
  </tr>
  <tr>
    <th>{{iService.getCheck()}} Repeat </th>
    <td> FROM {{iService.getFromDate()}} </td>
    <td> TO {{iService.getToDate()}} </td>
    <td> Every {{iService.getEvery()}}</td> 
    <td id="dwm" style="padding:0"> {{iService.getDwm()}}
    </td>
  </tr>
  <tr>
    <th> Attachments </th>
    <td> {{iService.getAttach()}}</td>
  </tr>
  <tr>
    <th> Notes </th>
  </tr>
  <tr>
    <td colspan="2"> {{iService.getNote()}} </td>
  </tr>
  <tr>
    <td> <button id="edit" (click)="editData()" >edit</button> </td>
    <td> <button id="delete" [routerLink]="['/tabular', {cat: iService.getCat(), subcat: iService.getSubcat()}]">delete</button> </td>
    <td> <button id="back" [routerLink]="['../tabular', {cat: iService.getCat(), subcat: iService.getSubcat()}]">back</button> </td>
  </tr>
</table>
