<table>
  <tr>
    <th> FormID </th>
    <td> {{iService.getID()}} </td>
  </tr>
  <tr>
    <th> Category </th>
    <td> {{iService.getCat()}} </td>
  </tr>
  <tr>
    <th> Subcategory </th>
    <td> {{iService.getSubcat()}} </td>
  </tr>
  <tr>
    <th> Name </th>
    <td> {{iService.getName()}}  </td>
  </tr>
  <tr>
    <th> Item </th>
    <td> {{iService.getItem()}} </td>
  </tr>
  <tr>
    <th> Purpose </th>
    <td>{{iService.getPurpose()}}</td>
  </tr>
  <tr>
    <th> Cost </th>
    <td> ${{iService.getCost()}} </td>
  </tr>
  <tr>
    <th> Serial </th>
    <td> {{iService.getSerial()}} </td>
  </tr>
  <tr>
    <th> Date </th>
    <td> {{iService.getDate()}} </td>
  </tr>
  <tr>
    <th> Maintenance Date </th>
    <td> {{iService.getFromDate()}}</td>
    <td> Every {{iService.getEvery()}} </td> 
    <td> {{iService.getDwm()}}
    </td>
  </tr>
  <tr>
    <th> Attachments </th>
    <td> {{iService.getNote()}}  </td>
  </tr>
  <tr>
    <th> Notes </th>
    <td colspan="2"> {{iService.getAttach()}}</td>
  </tr>
  <tr>

<!--
   <td> <button id="save" (click)="passData(formid.value, iService.getCat(), iService.getSubcat(), name.value, item.value, purpose.value, cost.value, serial.value, date.value, startdate.value,  every.value, iService.getDwm(), note.value, attach.value);" [routerLink]="['../tabular', {cat: iService.getCat(), subcat: iService.getSubcat()}]">save </button> </td>
-->

   <td> <button id="delete" (click)="deleteData(formid.value, iService.getCat(), iService.getSubcat(), name.value, item.value, purpose.value, cost.value, serial.value, date.value, startdate.value,  every.value, iService.getDwm(), note.value, attach.value);" [routerLink]="['../tabular', {cat: iService.getCat(), subcat: iService.getSubcat()}]">delete </button> </td>
    <td> <button id="back" [routerLink]="['../tabular', {cat: iService.getCat(), subcat: iService.getSubcat()}]">back</button> </td>
  </tr>
</table>
