<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6">
	      <button (click)="changeState()" class="hamicon">
		<span></span>
	      </button>
            </div>
        </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>
      <div class="col-md-6">
        <app-hamlist [currentState]="nextState" (click)="initState()"></app-hamlist>
      </div>
    </div>
</div>
