.add_form_component{
  margin:25px;
  width: 500px;
}

input.ng-dirty{
  border-left: 5px solid dodgerblue;
}

input.ng-invalid{
  border-left: 5px solid red;
}

[type="date"]{
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button{
  display: none;
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
