
<div class="add_form_component">
    <h3>Category: {{pService.getCat()}}</h3>
    <h3>Subcategory: {{pService.getSubcat()}}</h3>
  <form #addForm="ngForm">
      <p>* indicates a required input.</p>
      <div class="form-group">
        <label>Name*</label> 
        <input class="form-control" 
              type="text" name="name" 
              [(ngModel)]="name"
              required />
      </div>
      <div class="form-group">
        <label>Item*</label>
        <input class="form-control"
              type="text"
              [(ngModel)]="item"
              name="item"
              required />
      </div>
      <div class="form-group">
        <label>Purpose*</label>
        <input class="form-control"
              type="text"
              [(ngModel)]="purpose"
              name="purpose"
              required />
      </div>
      <div class="form-group">
        <label>Cost*</label>
        <input class="form-control"
              type="text"
              [(ngModel)]="cost"
              name="cost"
              required />
      </div>
      <div class="form-group">
        <label>Serial Number</label>
        <input type="text"
              class="form-control"
              [(ngModel)]="serial"
              name="serial" />
      </div>
      <div class="form-group">
        <label>Date*</label>
        <input type="date"
              class="form-control"
              [(ngModel)]="date"
              name="date"
              required />
      </div>
      <div class="form-group">
        <label>Maintenance Date</label>
        <input type="date"
              class="form-control"
              [(ngModel)]="maint_date"
              name="maint_date" />
      </div>
      <div class="form-group">
        <label>Repeat</label>
        <input type="text"
              class="form-control"
              [(ngModel)]="repeat"
              name="repeat" />
        
      </div>
      <div class="form-group">
        <label>Attachment</label>
        <input type="file"
              class="form-control"
              [(ngModel)]="attach"
              name="attach"
              multiple />
      </div>
      <div class="form-group">
        <label>Notes</label>
        <input type="text"
              class="form-control"
              [(ngModel)]="notes"
              name="notes" />
      </div>
    </form>
    <div [hidden]="addForm.valid || addForm.pristine"
          class="alert alert-danger">
        Form is not valid.
    </div>
    <button type="submit" 
            (click)="passData(pService.getCat(), pService.getSubcat());" 
            [routerLink]="['/tabular', {cat: pService.getCat(), subcat: pService.getSubcat()}]"
            [disabled]="addForm.pristine || !addForm.valid"
            class="btn btn-primary">Save</button>

    <button type="submit" (click)="alertCancel()"
            class="btn btn-primary">Cancel</button>
</div>
