<nav>
  <table class="floatleft">
    <tr>
      <th rowspan="2">
	<a routerLink="/equipment">Equipment</a>
	</th>
      <td><a routerLink="/sub/tabular" (click)="callInit()">Tabular</a></td>
      <td><a routerLink="/sub" (click)="callInit()">sub</a></td>
    </tr>
    <tr>
      <td><a routerLink="/sub">sub</a></td>
      <td><a routerLink="/sub">sub</a></td>
    </tr>
    <tr>
      <th rowspan="2">
	<a routerLink="/tool">Tools</a>
	</th>
      <td><a routerLink="/sub">sub</a></td>
      <td><a routerLink="/sub">sub</a></td>
    </tr>
    <tr>
      <td><a routerLink="/sub">sub</a></td>
      <td><a routerLink="/sub">sub</a></td>
    </tr>
    <tr>
      <th rowspan="2">
	<a routerLink="/landscape">Landscape</a>
	</th>
      <td><a routerLink="/sub">sub</a></td>
      <td><a routerLink="/sub">sub</a></td>
    </tr>
    <tr>
      <td><a routerLink="/sub">sub</a></td>
      <td><a routerLink="/sub">sub</a></td>
    </tr>
    <tr>
      <th><a routerLink="/">Backup</a></th> 
      <th colspan="2"><a routerLink="/calendar" (click)=callInit()>Open Calendar</a></th> 
    </tr>
<!--
    <tr>
      <th><a routerLink="/additemform">Add Forms</a></th> 
    </tr>
    <tr>
	  <input type="file" id="files" multiple accept="pdf"> 
      <div class="dnd" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
	<form>
          <p> Drag a file here to upload </p>
	  <input type="file" id="files" multiple accept="pdf"> 
	</form>
      </div>
    </tr>
-->
    
  </table>

<app-calendar></app-calendar> 
 
</nav>

  <a routerLink="/test">TEST page</a>

