<nav>
  <table class="floatleft">
    <tr>
      <th rowspan="2">
	<a routerLink="/equipment">Equipment</a>
	</th>
      <td><a *ngIf="quickEquip && quickEquip.length > 0" [routerLink]="['/tabular', { cat: equip, subcat: quickEquip[0] }]">{{quickEquip[0]}}</a></td>
      <td><a *ngIf="quickEquip && quickEquip.length > 1" [routerLink]="['/tabular', { cat: equip, subcat: quickEquip[1] }]">{{quickEquip[1]}}</a></td>
    </tr>
    <tr>
      <td><a *ngIf="quickEquip && quickEquip.length > 2" [routerLink]="['/tabular', { cat: equip, subcat: quickEquip[2] }]">{{quickEquip[2]}}</a></td>
      <td><a *ngIf="quickEquip && quickEquip.length > 3" [routerLink]="['/tabular', { cat: equip, subcat: quickEquip[3] }]">{{quickEquip[3]}}</a></td>
    </tr>
    <tr>
      <th rowspan="2">
        <a routerLink="/tool">Tools</a>
      </th>
      <td><a *ngIf="quickTool && quickTool.length > 0" [routerLink]="['/tabular', { cat: tool, subcat: quickTool[0] }]">{{quickTool[0]}}</a></td>
      <td><a *ngIf="quickTool && quickTool.length > 1" [routerLink]="['/tabular', { cat: tool, subcat: quickTool[1] }]">{{quickTool[1]}}</a></td>
    </tr>
    <tr>
      <td><a *ngIf="quickTool && quickTool.length > 2" [routerLink]="['/tabular', { cat: tool, subcat: quickTool[2] }]">{{quickTool[2]}}</a></td>
      <td><a *ngIf="quickTool && quickTool.length > 3" [routerLink]="['/tabular', { cat: tool, subcat: quickTool[3] }]">{{quickTool[3]}}</a></td>
    </tr>
    <tr>
      <th rowspan="2">
        <a routerLink="/landscape">Landscape</a>
      </th>
      <td><a *ngIf="quickLand && quickLand.length > 0" [routerLink]="['/tabular', { cat: land, subcat: quickLand[0] }]">{{quickLand[0]}}</a></td>
      <td><a *ngIf="quickLand && quickLand.length > 1" [routerLink]="['/tabular', { cat: land, subcat: quickLand[1] }]">{{quickLand[1]}}</a></td>
    </tr>
    <tr>
      <td><a *ngIf="quickLand && quickLand.length > 2" [routerLink]="['/tabular', { cat: land, subcat: quickLand[2] }]">{{quickLand[2]}}</a></td>
      <td><a *ngIf="quickLand && quickLand.length > 3" [routerLink]="['/tabular', { cat: land, subcat: quickLand[3] }]">{{quickLand[3]}}</a></td>
    </tr>
    <tr>
      <th><a routerLink="/backup">Backup</a></th>
      <th colspan="2"><a routerLink="/calendar" (click)=callInit()>Open Calendar</a></th>
    </tr>
    
<!--
    <tr>
      <th><a routerLink="/additemform">Add Forms</a></th>
    </tr>
    <tr>
	  <input type="file" id="files" multiple accept="pdf">
      <div class="dnd" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
	<form>
          <p> Drag a file here to upload </p>
	  <input type="file" id="files" multiple accept="pdf">
	</form>
      </div>
    </tr>
-->

  </table>

<app-calendar></app-calendar>

</nav>

  <a routerLink="/test">TEST page</a>

