nav {
  overflow: hidden;
}

.category {
  width: 10rem;
  height: 89%;
  font-size: 16pt;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
  padding: 55px 0;
  display: inline-block;
  background-color: #eee; border-radius: 4px;
}

.subcategory {
  width: 8rem;
  display: inline-block;
  word-wrap: normal;
  overflow-wrap: break-word;
}

.btn {
  margin: 10px;
  font-size: 12pt;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
  padding: 20px 0;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
  white-space: normal;
}

nav .btn:hover {
  color: #039be5;
  background-color: #cfd8dc;
}

nav .btn.active {
  color: #039be5;
}

.btn {
  color: black;
}

app-calendar {
  margin-left: 10px;
  display: inline-block;
  overflow: visible;
  max-height: 590px;
  order: 0;
  align-self: auto;
  display: block;
  flex: 1 1 auto;
}

/* media queries */

/* col-xs-* */
@media screen and (max-width: 768px) {
  /*
  * {
    background: red;
  }
  */
  body {
    font-size: 8pt;
  }
  .category {
    width: 3rem !important;
    font-size: 8pt;
  }
  .subcategory {
    width: 2rem !important;
    font-size: 8pt;
  }
}

/* col-sm-* */
@media screen and (min-width: 769px) and (max-width: 992px) {
  /*
  * {
    background: yellow;
  }
  */
  .category {
    width: 5rem !important;
    font-size: 12pt;
  }
  .subcategory {
    width: 3rem !important;
    font-size: 12pt;
  }
}

/* col-md-* */
@media screen and (min-width: 993px) and (max-width: 1285px) {
  /*
  * {
    background: teal;
  }
  */
  .category {
    width: 10rem !important;
  }
  .subcategory {
    width: 8rem !important;
  }
}

@media screen and (min-width: 1286px) and (max-width: 1499px) {
  /*
  * {
    background: green;
  }*/
  .category {
    width: 7rem !important;
  }
  .subcategory {
    width: 5rem !important;
    font-size: 8pt;
  }
}

/* col-md-* */
@media screen and (min-width: 1500px) {
  /*
  * {
    background: indigo;
  }
  */
  .category {
    width: 7rem !important;
  }
  .subcategory {
    width: 7rem !important;
    font-size: 10pt;
  }
}