nav {
  overflow: hidden;
}

.floatleft th a {
  width: 250px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
  padding: 55px 0;
  display: inline-block;
  background-color: #eee; border-radius: 4px;
}

nav td a {
  width: 100px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
  padding: 20px 0;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}

nav a:visited, a:link {
  color: #607d8b;
}

nav a:hober {
  color: #039be5;
  background-color: #cfd8dc;
}

nav a.active {
  color: #039be5;
}

a {
  cursor: pointer;
}

.floatleft {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.floatright {
  float: left;
}

.floatright th a {
  width: 250px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
  padding: 25px 0;
  display: inline-block;
  background-color: #eee; 
  border-radius: 4px;
} 

.floatright .dnd {
  margin-top: 10px;
  padding: 55px 0;
  border: 3px dashed #eee;
  width: 250px; 
}

app-calendar {
  margin-left: 10px;
  display: inline-block;
  overflow: auto;
  max-height: 500px;
  order: 0;
  align-self: auto;
  float: left;
  display: block;
  flex: 1 1 auto;
}
