<div>
  <h3> Dashboard Service Test Component </h3>
  <div *ngIf="result"> {{result}}</div>
  <div>
      <input [(ngModel)]="category" placeholder="Category name"/>
      <input [(ngModel)]="subcategory" placeholder="subcategory name"/>
      <div> 
        <button (click)="post()"> Click to post a random form</button>
      </div>

  </div>
  <div *ngIf="resultsArr">
    <li *ngFor="let item of resultsArr"> {{item}} </li>
  </div>

  <div>
    <h3>Getting array of strings for subcategories</h3>
    <button (click)="getTool()"> Tool</button>
    <button (click)="getEquip()"> Equipment</button>
    <button (click)="getLand()"> Landscape</button>
  </div>

  <div>
    <h3> Adding a new subcategory</h3>
    <button (click)="addSub()"> Add subcategory</button>
  </div>

  <div>
    <h3> Getting all forms </h3>
    <button (click)="getForms()"> Get all form information </button>
  </div>

  <div>
    <h3>Getting specific form information</h3>
    <input #fid [(ngModel)]="formNumber" placeholder="Form ID">
    <button (click)="getForm(fid.value)"> Get this form information </button>
  </div>
  

</div>

<div>
  Inside this DIV we have boostrap components from:
  <a href="http://getbootstrap.com/docs/4.1/components/alerts/">Regular boostrap</a>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
  </nav>
  
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Library</li>
    </ol>
  </nav>
  
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Library</a></li>
      <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
  </nav>
</div>

<div>
  And here we have ngbootstrap objects from
  <a href="https://ng-bootstrap.github.io/#/components/accordion/examples">ngboostrap</a>
  <div>
    <input type="text" ngbDatepicker #d="ngbDatepicker"/>
    <button (click)="d.toggle()">Toggle</button>
  </div>

</div>
