<div>
  <h3> Dashboard Service Test Component </h3>
  <div *ngIf="result"> {{result}}</div>
  <p> Please don't hit Postman too much, I have a limited API quota!</p>
  <button (click)="testWeb()">Hit postman API</button>
  <button (click)="testPython()">Python</button>
</div>

<div>
  Inside this DIV we have boostrap components from:
  <a href="http://getbootstrap.com/docs/4.1/components/alerts/">Regular boostrap</a>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
  </nav>
  
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Library</li>
    </ol>
  </nav>
  
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Library</a></li>
      <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
  </nav>
</div>

<div>
  And here we have ngbootstrap objects from
  <a href="https://ng-bootstrap.github.io/#/components/accordion/examples">ngboostrap</a>
  <div>
    <input type="text" ngbDatepicker #d="ngbDatepicker"/>
    <button (click)="d.toggle()">Toggle</button>
  </div>

</div>
