

<div class="jumbotron">
    <h2> Back up</h2>
    <p>Select the folder where you would like to create a database backup</p>
    <button class="btn btn-primary" (click)="backup()"> Save to folder </button>
</div>

<div class="jumbotron">
    <h2> Restore </h2>
    <p>Select the folder where you previously saved your backup files to restore the database. This should be equipment.db.bak, landscape.db.bak and tools.db.bak </p>
    <button class="btn btn-secondary" (click)="restore()"> Restore from folder </button>
</div>

