.edit_form_component{
  margin:25px;
  max-width: 400px;
}

input.ng-dirty{
  border-left: 5px solid dodgerblue;
}

input.ng-invalid{
  border-left: 5px solid red;
}

.attachment {
  max-width: 40%;
}

.attach-item {
  color: blue;
  list-style: none;
}

.attach-item:hover {
  color: deepskyblue;
}

.date{
  width: 200px;
}

button{
  margin: 3px;
}
