<div class="edit_form_component" *ngIf="form && !submitted">
  <form [formGroup]="newForm" #editForm="ngForm" (ngSubmit)="onSubmit()">
    <h2>Form #{{form.form_id}}</h2>
    <h3>Category: {{form.category}}</h3>
    <h3>Subcategory: {{form.subcat}}</h3>
    <h4>Date Added: {{form.date}}</h4>
    <p>* indicates a required input.</p>
    <div class="form-group">
      <label>Name*</label>
      <input class="form-control"
             type="text"
             formControlName="name"
             name="name"
             id="name"
             required />
    </div>
    <div class="form-group">
      <label>Item*</label>
      <input class="form-control"
             type="text"
             formControlName="item"
             name="item"
             required />
    </div>
    <div class="form-group">
      <label>Purpose*</label>
      <input class="form-control"
             type="text"
             formControlName="purpose"
             name="purpose"
             required />
    </div>

    <label>Cost*</label>
    <div class="form-group input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <input class="form-control"
             type="text"
             formControlName="cost"
             name="cost"
             required />
    </div>

    <div class="form-group">
      <label>Serial Number</label>
      <input type="text"
             class="form-control"
             formControlName="serial"
             name="serial" />
    </div>
    <div class="form-group">
      <label>Maintenance Date (YYYY-MM-DD)</label>
      <input type="text"
             class="form-control"
             id="maint_date"
             formControlName="maint_date"
             name="maint_date" />
    </div>
    <div [hidden]="maint_date?.invalid" class="form-group">
      <label>Repeat</label>
      <input type="text"
             class="form-control"
             formControlName="repeat"
             name="repeat" />
    </div>
    <div class="form-group">
      <label>Notes</label>
      <input type="text"
             class="form-control"
             formControlName="notes"
             name="notes" />
    </div>
  

    <div *ngIf="newForm.invalid && (newForm.dirty || newForm.touched)"
         class="alert alert-danger">
      There are invalid fields.
    </div>

    <button type="submit"
            [disabled]="newForm.pristine || newForm.invalid"
            class="btn btn-primary">
      Save Changes
    </button>
    </form>
</div>

<div *ngIf="form && submitted" class="alert alert-primary">
  <h3>The form has been updated:</h3>
  <div class="alert alert-light">
    <p>Name: {{form.name}}</p>
    <p>Form ID: {{form.form_id}}</p>
    <p>Item: {{form.item}}</p>
    <p>Purpose: {{form.purpose}}</p>
    <p>Cost: ${{form.cost}}</p>
    <p>Serial Number: {{form.serial}}</p>
    <p>Maintenance Date: {{form.maint_date}}</p>
    <p>Repeat: {{form.repeat}}</p>
    <p>Notes: {{form.notes}}</p>
    <button class="btn btn-primary" [routerLink]="['/tabular', { cat: category, subcat: subcat }]">Click to return to {{subcat}} page.</button>
  </div>
</div>
